<div class="row row-cols-1">
    <button type="button" class="btn btn-light"><a href="/login">Login</a></button>
    <button type="button" class="btn btn-light"><a href="./login.handlebars">Signup</a></button>
</div>