<div class="container-fluid homepage-image col-2">
    <div class="row row-cols-1">
      <button type="button" class="btn btn-light"><a href="/login">Login</a></button>
      <br><br>
      <button type="button" class="btn btn-light"><a href="/login">Signup</a></button>
    </div>
</div>