{{!-- <div class="container-fluid homepage-image col-2">
    <div class="row row-cols-1">
      <button type="button" class="btn btn-light"><a href="/login">Login</a></button>
      <br><br>
      <button type="button" class="btn btn-light"><a href="/login">Signup</a></button>
    </div>
</div> --}}

<div class="container-fluid">
  <div>
    <h2 class="title text-center p-4">Open Cellars</h2>
  </div>
  <div class="row">
    {{#each users as |user|}}
    <div class="col col-lg-4 pb-4 d-flex justify-content-center">
      <div class="card">
        <img src="/images/generic-cellar.png" alt="wine cellar">
        <div class="card-body">
          <h4 class="card-title">{{username}}</h4>
        </div>
      </div>
    </div>
    {{/each}}
  </div>

</div>