<form class="new-wine-form">
  <div>
    <label for="wine-name">Wine Name:</label>
    <input type="text" id="wine-name" />
  </div>
  <div>
    <label for="vintage">Vintage:</label>
    <input type="text" id="vintage" />
  </div>
  <div>
    <label for="type">Type:</label>
    <input type="text" id="type" />
  </div>
  <div>
    <button type="submit">Add Wine</button>
  </div>
</form>