
body {
    /* background-image: url('../images/cellar.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    font-family: 'Tenali Ramakrishna', sans-serif;
}

.title {
    font-family: 'Meddon', cursive;
}

a {
    color: white;
    text-decoration: none;
    
}

a:hover { 
    color: #A7E7E0;
}

.header {
    background-color: #58181F;
}

main {
    background-color: white;
}

.card {
    width: 50%;
}

.card-body {
    background-color: #F4D3CA;
    /* background-color: #185851; */
    color: white;
}

.card-title {
    font-weight: bold;
}

label {
    font-size: 24px;
}

button {
    background-color: lightgray;
    color: black;
    font-size: 20px;
    border-radius: 15px;
    width: 100px
}

button:hover {
    background-color: #A7E7E0;
}

input {
    width: 15rem;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}
.push {
    height: 50px;
}

.form {
    border-right: black;
    
}

.new-wine-form {
    padding-top: 15px;
}

footer {
    color: white;
    background-color: #58181F;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 5px;
}