
body {
    /* background-image: url('../images/cellar.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    font-family: 'Tenali Ramakrishna', sans-serif;
    /* background-color: #d3b3bc; */
}

.title {
    font-family: 'Meddon', cursive;
}

a {
    color: white;
    text-decoration: none;
    
}

a:hover { 
    color: #d3b3bc;
}

.header {
    background-color: #480027;
}

/* main {
    background-color: white;
} */

h3 {
    font-weight: bold;
}

.card {
    width: 100%;
}

.card-body {
    background-color: #771731;
    /* background-color: #185851; */
    color: white;
}

.card-body p {
    font-size: 20px;
}

.card-text {
    padding: 0px;
}


label {
    font-size: 24px;
}

.back-to-dash {
    font-size: 36px;
    color: #d3b3bc;
}
.back-to-dash:hover {
    color: #480027;
}

button {
    background-color: lightgray;
    color: black;
    font-size: 20px;
    border-radius: 15px;
    width: 100px
}

button:hover {
    background-color: #d3b3bc;
}

input {
    /* width: 15rem; */
    padding: 5px;
    border-radius: 5px;
    width: 75%;
}

#username-signup, #email-signup, #password-signup {
    width: 15rem;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

#wine-vintage {
    width: 55%;
}

.push {
    height: 50px;
}

.wine-cards {
    padding-top: 25px;
    background-color: #d3b3bc;
}

.wine-name h4:hover {
    color: #d3b3bc
}

.wine-info p {
    padding: 0px;
    font-size: 20px;
}

.wine-notes {
    background-color: white;
    color: black;
    width: 100%;
}

.wine-view {
    width: 75%;
}

.wine-img {
    width: 50%;
    background-color: white;
}

.wine-img img {
    min-height: 100%;
    object-fit: cover;
}

.form {
    border-right: black 2px solid;

}

.wine-name{
    background-color: #993b58;
}

.wine-name h4 {
    color: white;
    text-align: center;
    font-size: 18px;
}

.new-wine-form {
    padding-top: 25px;
    padding-right: 5px;
}

footer {
    color: white;
    background-color: #480027;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 5px;
}